
html, body {
    height: 100%;
}

body, ul, li, a, p, div {
    /*慎删*/
    padding: 0px;
    margin: 0px;
}

#wrap {
    overflow: hidden;
    width: 100%;
}

#main {
    top: 0;
    position: relative;
}

.page {
    /*谨删*/
    width: 100%;
    margin: 0;
}

#pageUl {
    position: fixed;
    right: 10px;
}



